.top {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.add-investment {
  background-color: #faebd7;
  padding: 4px;
  border-radius: 10px;
  border: solid 0.5mm #d8ba92;
  font-weight: 600;
}

.tables {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.asset-allocation {
  display: flex;
  flex-direction: column;
}

.table-header,
.table-data {
  display: flex;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
}

.table-header {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #333;
}

.table-data:nth-child(even) {
  background-color: #fafafa;
}

.title,
.data {
  flex: 1;
  text-align: left;
  padding: 4px 8px;
  font-size: 15px;
}

.title:nth-child(2),
.data:nth-child(2),
.title:nth-child(3),
.data:nth-child(3) {
  text-align: right;
}

/* Responsive */
@media (max-width: 600px) {

  .table-header,
  .table-data {
    // flex-direction: column;
    align-items: flex-start;
  }

  .title,
  .data {
    width: 100%;
    text-align: left !important;
    padding: 6px 0;
  }
}


.chart-container {
  display: flex;

  .performance {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.perform-title {
  font-size: 24px;
  text-align: center;
}