.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-investment {
  background-color: #faebd7;
  padding: 8px;
  border-radius: 10px;
  border: solid 0.5mm #d8ba92;
  font-weight: 600;
}

.text-center {
    text-align: center;
}

.margin-bottom-medium {
    margin-bottom: 10px;
}